<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
     <link href= "/css/reminders.css" rel="stylesheet">
      <link href= "/css/home.css" rel="stylesheet">

      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.js"></script>

<!-- Google Analytics Content Experiment code-->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190544869-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>

<!--End of Google Analytics Content Experiment code -->


  <!-- Google Analytics-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-135175651-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!--End Google Analytics -->



    <script>
$(document).ready(function(){
  $("#onec").click(function(){
    $("#onet").toggle();
  });
});
$(document).ready(function(){
  $("#twoc").click(function(){
    $("#twot").toggle();
  });
});
$(document).ready(function(){
  $("#threec").click(function(){
    $("#threet").toggle();
  });
});
$(document).ready(function(){
  $("#fourc").click(function(){
    $("#fourt").toggle();
  });
});
</script> 

</head>

<body>

    <header class="w3-container" style="background-color: #E07D70; padding-top:10px;">



      <div class="w3-center">
        <h1 class="w3-xxxlarge w3-animate-bottom" style="color:white; font-family: 'Montserrat', sans-serif; align-content: center">
          <br>Home
          <i onclick="document.getElementById('id01').style.display='block'" class="fas fa-info-circle"
            style="color:white"> </i>
        </h1>
        <div class="w3-padding-32">

        </div>
      </div>
    </header>
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-theme-l1" style="background-color: #E07D70">
          
          <h2 style="color:white; font-family: 'Montserrat', sans-serif" align="center">
          What Do I Do?
          </h2>
          
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">×</span>
        </header>

        <div class="w3-container" style="background-color:white">
          <h4 style="color: #5E4442; font-family: 'Source Sans Pro', sans-serif">
            • Customize your avatar based on how you are feeling today!<br><br>
            • Write out any thoughts you have about your feelings and let your friends know how you are doing.<br><br>
            • A reminder is given to you so you can keep in touch with your emotions and possibly improve how you are
            feeling!<br><br>
            • A real-time graph is updated every time you change your avatar based on how you are feeling -- You can
            compare how you were feeling today versus three days ago!<br><br>
             <!-- • Click each header to hide what you currently do not want to see. --> <br>



          </h4>
        </div>
      </div>
    </div>

    <!-- Altcode right here/ B testing -->
    {{#if viewHomeAlt}}

     <div class="w3-row-padding">
      <div class="w3-col">
      <div class="w3-card white">

        <div class="w3-container" id="onec" style="background-color:#EDBEB8">
          <h3 style="font-family: 'Montserrat', sans-serif; color:white">Reminder of the Day</h3>
        </div>
        <div class="w3-container" id="onet" style="background-color:white">
          <h3 class="w3-text" style="font-family: 'Source Sans Pro', sans-serif; color: #5E4442">

            <span id="random"></span>
          </h3>

        <ul class="w3-ul w3-border-top"></ul>
        <div class="w3-container" style="background-color:#EDBEB8">
          <h5 id="onet" style="font-family: 'Montserrat', sans-serif; color:white">Add your own positive reminder!</h5>
        </div>       
  <div class="reminder"  style="background-color: #EDBEB8">
      <input type="text" style="background-color:white; font-family: 'Source Sans Pro', sans-serif;"  id="item">
      <button id="add" class="btn btn-default likeBtn">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><g><path class="fill" d="M16,8c0,0.5-0.5,1-1,1H9v6c0,0.5-0.5,1-1,1s-1-0.5-1-1V9H1C0.5,9,0,8.5,0,8s0.5-1,1-1h6V1c0-0.5,0.5-1,1-1s1,0.5,1,1v6h6C15.5,7,16,7.5,16,8z"/></g></svg>
      </button>
    </div>
<br><br>

    <div class="w3-container" id="onet">
      <center><ul class="todo" id="reminders"></ul></center>
      <!-- <ul class="todo" id="reminded"></ul> -->
      <br> 
      <br>
</div>
<br> <br>

        </div>
      </div>
</div>



 <style>
              .overlay {
                height: 100%;
                width: 100%;
                display: none;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #e07d70;
                opacity: 0.95;
              }

              .overlay-content {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
              }

              .overlay a {
                padding: 15px;
                text-decoration: none;
                font-size: 20px;
                color: #e07d70;
                display: block;
                transition: 0.3s;
              }

              .overlay a:hover,
              .overlay a:focus {
                color: #ffffff;
              }


              @media screen and (max-height: 450px) {
                .overlay a {
                  font-size: 20px
                }
              }


              .button {
                background-color: #E07D70;
                border: none;
                color: white;
                height: 65px;
                width: 35%;
                text-align: center;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
              }

              .button2 {
                background-color: #EDBEB8;
                border: none;
                color: white;
                height: 60px;
                width: 35%;
                text-align: center;
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
              }

              .avi-button {
                background-color: #E07D70;
                border-radius: 12.5px;
                border: none;
                color: white;
                height: 75px;
                width: 75%;
                text-align: center;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
              }


            </style>


     <div class="w3-half">
        <div class="w3-card white">

          <div class="w3-container" id="twoc" style="background-color:#EDBEB8">
            <h3 style="font-family: 'Montserrat', sans-serif; color: white">You / Your Avatar</h3></div>


          <div class="w3-container" id="twot" style="background-color:white" align="center">
              <br>
              <select onchange="$('#changeAvatar').attr('src', this.options[this.selectedIndex].value);">
              <option value="/images/Happy.png" selected>Happy</option>
              <option value="/images/Sad.png">Sad</option>
              <option value="/images/Bored.png">Bored</option>
              <option value="/images/Excited.png">Excited</option>
              <option value="/images/Angry.png">Angry</option>
              <option value="/images/Annoyed.png">Annoyed</option>
              <option value="/images/Afraid.png">Afraid</option>
              <option value="/images/Nervous.png">Nervous</option>
              </select>

              <br><br><center><text style="font-family: 'Source Sans Pro', sans-serif; color: #D4D6D8">Choose from a variety of moods!</text></center>
            <br>

            <img id="changeAvatar" class="profile-pic" src="/images/Happy.png">


            <br><br>
            <div class="likeCtr"><button class="avi-button" onclick="openAviMsg()"><center>Click here if you made changes!</center></button></div>
            <br>


                <div id="avatarMsg" class="overlay">
                <div class="overlay-content">
                  <h3 style="color:white">Thank you for changing your avatar!<br><br>
                    Regardless of how you feel, we hope you are having a good day!</h3>
                  <br>
                  <a href="javascript:void(0)" class="button2" onclick="closeAviMsg()">OK!</a>

                </div>
              </div>

              <script>
                function openAviMsg() {
                  document.getElementById("avatarMsg").style.display = "block";
                }

                function closeAviMsg() {
                  document.getElementById("avatarMsg").style.display = "none";
                }
              </script> 


                <br><br>


            </div>
          </div>

</div>

      <div class="w3-half">
        <div class="w3-card white">

          <div class="w3-container" id= "threec" style="background-color:#EDBEB8">
            <h3 style="font-family: 'Montserrat', sans-serif; color: white">Status Journal</h3>
          </div>
          <div class="container" id="threet" style="background-color:white">
            <h3 style="font-family: 'Source Sans Pro', sans-serif; color:#5E4442">
              <textarea class="form-control" id="exampleFormControlTextarea5" rows="6" style="font-size:24px"> Share some thoughts over here! </textarea></h3>
              <center><text style="font-family: 'Source Sans Pro', sans-serif; color: #D4D6D8">How was your day? Want to update your friends? <br>Talk about anything and everything! </text></center>

              <br>

              <center><button class="button" onclick="openMsg()">OK!</a></button></center>

              <br>

            <div id="journalMsg" class="overlay">
              <div class="overlay-content">
                <h3 style="color:white">Thank you for sharing how you are doing today!<br><br>
                  Be sure to check up on your friends as well as yourself!</h3>
                <br>
                <a href="javascript:void(0)" class="button2" onclick="closeMsg()" style ="padding-bottom:60px">You got it!</a>

              </div></div>
            </div></div></div><br>

            

            <script>
              function openMsg() {
                document.getElementById("journalMsg").style.display = "block";
              }

              function closeMsg() {
                document.getElementById("journalMsg").style.display = "none";
              }
            </script>
            <br><br>
          </div>


        </div>
      </div>
  </div>
  <div class="w3-row-padding">
  <script src="/js/project.js"></script>
      
      {{else}}

  <div class="w3-row-padding">
      <div class="w3-col">
      <div class="w3-card white">

        <div class="w3-container" id="onec" style="background-color:#EDBEB8">
          <h3 style="font-family: 'Montserrat', sans-serif; color:white">Reminder of the Day</h3>
        </div>
        <div class="w3-container" id="onet" style="background-color:white">
          <h3 class="w3-text" style="font-family: 'Source Sans Pro', sans-serif; color: #5E4442">

            <span id="random"></span>
          </h3>
        </div></div>



            <style>
                .overlay {
                  height: 100%;
                  width: 100%;
                  display: none;
                  position: fixed;
                  z-index: 1;
                  top: 0;
                  left: 0;
                  background-color: #e07d70;
                  opacity: 0.95;
                }

                .overlay-content {
                  position: relative;
                  top: 25%;
                  width: 100%;
                  text-align: center;
                  margin-top: 30px;
                }

                .overlay a {
                  padding: 15px;
                  text-decoration: none;
                  font-size: 20px;
                  color: #e07d70;
                  display: block;
                  transition: 0.3s;
                }

                .overlay a:hover,
                .overlay a:focus {
                  color: #ffffff;
                }


                @media screen and (max-height: 450px) {
                  .overlay a {
                    font-size: 20px
                  }
                }

                .avi-button {
                background-color: #E07D70;
                border-radius: 12.5px;
                border: none;
                color: white;
                height: 75px;
                width: 35%;
                text-align: center;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
                }

                .button2 {
                  background-color: #EDBEB8;
                  border: none;
                  color: white;
                  height: 60px;
                  width: 35%;
                  text-align: center;
                  font-size: 12px;
                  font-family: 'Montserrat', sans-serif;
                  margin-left: auto;
                  margin-right: auto;
                  cursor: pointer;
                }
              </style>    


        <div class="w3-half">
          <div class="w3-card white" style="box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)">
            <div class="w3-container" id="twoc" style="background-color:#EDBEB8">
              <h3 style="font-family: 'Montserrat', sans-serif; color:white">You / Your Avatar</h3>
            </div>
            <div class="w3-container" id="twot" style="background-color:white" align ="center">

           
              <br><br>
              <img id="changeAvatar" class="profile-pic" src="/images/Happy.png" style = "width: 150px; height: 150px">
            
               
              <br><br>
              <br>
              <div class="p-image" align="center">
                <i class="fa fa-camera upload-button" style="color:#EDBEB8;padding-left:10px">
                  <p style="font-family: 'Source Sans Pro', san-serif">Change Avatar </p>
                </i>
          <input class="file-upload" style="display:none" type="file" accept="/images/*"> 
          <br>
           <button class="avi-button" onclick="openMsg()" style ="size:20px">  Click here if you made changes!</button>
                <br></div>


              <div id="avatarMsg" class="overlay">
                <div class="overlay-content">
                  <h3 style="color:white">Thank you for changing your avatar!<br><br>
                    Regardless of how you feel, we hope you have a good day!</h3>
                  <br>
                  <a href="javascript:void(0)" class="button2" onclick="closeMsg()">OK!</a>

                </div>
              </div>

              <script>
                function openMsg() {
                  document.getElementById("avatarMsg").style.display = "block";
                }

                function closeMsg() {
                  document.getElementById("avatarMsg").style.display = "none";
                }
              </script> 


                <br>
              </div>
            </div>
          </div>

        <div class="w3-half">
          <div class="w3-card white" style ="box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)">
            <div class="w3-container" id="threec" style="background-color:#EDBEB8">
              <h3 style="font-family: 'Montserrat', sans-serif; color:white">Status Journal</h3>
            </div>
            <div class="container" id='threet' style="background-color:white">
              <h3 class="w3-text-theme" style="font-family: 'Source Sans Pro', sans-serif;color:#5E4442">
                <h3 style="font-family: 'Source Sans Pro', sans-serif; color:#5E4442">
              <textarea class="form-control" id="exampleFormControlTextarea5" rows="5.5">Share some thoughts over here! </textarea></h3>

 <br> <br>

        
              </div>

            </div>
        </div>

{{/if}}
          <div class="w3-col" >
          <div class="w3-card white">

            <div class="w3-container" id="fourc" style="background-color:#EDBEB8;">
              <h3 style="font-family: 'Montserrat', sans-serif; color:white">Wellness Tracker</h3></div>
            <div class="w3-container" id="fourt" style="background-color:white">
                <h3 class="w3-text-indigo"> <canvas id="myChart" style="width:50%;"></canvas>
                  <script>
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                      type: 'line',
                      data: {
                        labels: ["2/16 12AM", "2/16 5PM", "2/18 10AM", "2/19 12PM", "2/20 11PM", "2/21 12PM"],
                        datasets: [{
                          label: 'Happiness Points',
                          data: [80, 60, 85, 70, 55, 90],
                          backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                          ],
                          borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                          ],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          yAxes: [{
                            ticks: {
                              beginAtZero: true
                            }
                          }]
                        }
                      }
                    });
                  </script>
                </h3>
              </div>
              <br> <br> <br>

         </div>
          </div>
        </div>
      </div>
    </div>




<div class="mobile-app-icon-bar" style ="left: 0px;">
  <ul>
  <li>  <a href ="/home"> <i class="fas fa-home" aria-hidden="true"></i> 
    <p class ="no-margin"> Home </p> </a>
  </li>
  <li>  <a href ="/goals"> <i class="fas fa-tasks" aria-hidden="true"></i> 
    <p class ="no-margin"> Health Goals </p> </a>
  </li>
  <li> <a href ="/index"><i class="fas fa-user" aria-hidden="true"></i>
    <p class ="no-margin"> Chat List </p></a>
  </li>
 <li> <a href ="/add"><i class="fas fa-plus-square" aria-hidden="true"></i>
  <p class ="no-margin"> Add Friends </p> </a>
</li>
 <li><a href ="/"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>
  <p class ="no-margin"> Logout </p> </a>
</li>
</ul>
</div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script type ="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="js/reminders.js"></script>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>



  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="js/reminders.js"></script>
      <script type="text/javascript" src="js/buttonclick.js"></script>
  <script
    src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  
  <script>$(document).ready(function () {


      var readURL = function (input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('.profile-pic').attr('src', e.target.result);
          };

          reader.readAsDataURL(input.files[0]);
        }
      };


      $(".file-upload").on('change', function () {
        readURL(this);
      });

      $(".upload-button").on('click', function () {
        $(".file-upload").click();
      });
    });

  </script>

</body>

</html>