<!DOCTYPE html>

<html>
<head>
  <title>Moood | Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/app.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {{> facebook}}
    <script src="/js/facebook.js"></script>
</head>

<body style="background-color: #FFF2F2">

<div class ="w3-row-padding">


<header class="w3-container" style="background-color:#E07669; padding-top:10px">
  <div class="w3-center"><br>

    <p style="color:white; font-family: 'Montserrat', sans-serif;">Welcome to</p>

    <h1 class="w3-xxxlarge w3-animate-bottom" style ="color:white; font-family:Montserrat, sans-serif;align-content: center">MOOOD
      </h1>

    <p style="color:white; font-family: 'Montserrat', sans-serif;">A social app where you can easily express how you are feeling, without getting lost in translation!</p>
    <div class="w3-padding-32"></div>
  </div>
</header>

<form id="login-form" action="/home">

  <div class="container">
    <br> <br>
    <label for="name" style="font-family: 'Montserrat', sans-serif; color: #5E4442;"><b>Name</b></label>
    <input type="text" style="font-family: 'Source Sans Pro', sans-serif" placeholder="Enter Name" name="name" required>

    <br><br>

    <label for="pw" style="font-family: 'Montserrat', sans-serif; color: #5E4442;"><b>Password</b></label>
    <input type="password" style="font-family: 'Source Sans Pro', sans-serif" placeholder="Enter Password" name="pw" required>

    <br> <br>
    <button class="loginButton" type="submit">Login</button>
    <br> <br>

<p class="facebookLogin">
  Please login through Facebook <br>  
      <fb:login-button scope="public_profile, email" onlogin="checkLoginState();">
      </fb:login-button>
</p>

</form>

</body>
</html>