<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
     <link href= "/css/keyboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   
  </head>
  <body>
	<div class ="w3-row-padding">
<header class="w3-container" style="background-color:#DB8A74" >
  <i onclick="goBack()" class="fas fa-arrow-circle-left" style="background-color:#DB8A74"></i>
  <script>
function goBack() {
  window.history.back();
}
</script> 
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom" style ="color:white">{{projectName}} 
   <i onclick="document.getElementById('id01').style.display='block'" 
   class="fas fa-info-circle" style="color:white"> </i> 
</h1>

    </div>
  </div>
</header>
</div>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"  style="background-color:#DB8A74" > 
         <h1 class="w3-xxxlarge w3-animate-bottom" style ="color:white">{{projectName}}</h1>
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
      </header>
    <div class="w3-container" style="background-color: #fbefef"> 
      <h1> Real Time Graph </h1></div>
      <div class="w3-container">
    <h3 class="w3-text-indigo"><img src = "/images/graph.png" class ="img"> 
</h3>
</div>
</div>
   
      <footer class="w3-container w3-theme-l1">
       
      </footer>
    </div>
</div>
  <div class ="w3-row-padding">
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="screen">
      <div class="screen-container">
          <div class="time"></div>
          <div class="battery">
            <i class="zmdi zmdi-battery"></i>
          </div>
          <div class="network">
            <i class="zmdi zmdi-network"></i>
          </div>
          <div class="wifi">
            <i class="zmdi zmdi-wifi-alt-2"></i>
          </div>
          <div class="star">
            <i class="zmdi zmdi-star"></i>
          </div>
        </div>
        <div class="chat">
              <div class="actions attachment">
                <i class="zmdi zmdi-attachment-alt"></i>
              </div>
              <div class="actions">
                <i class="zmdi zmdi-phone"></i>
              </div>
            </div>
            <div class="conversation">
              <div class="conversation-container">
                <div class="message sent">
                  Hey how are you feeling?
                  <span class="metadata">
                      <span class="time"></span><span class="tick">
                  </span>
                </div>
                <div class="message received">
                  Not so good..
                  <span class="metadata"><span class="time"></span></span>
                </div>
                <div class="message sent">
                  I'll come over with a movie and some snacks?
                  <span class="metadata"> <span class = "time"></span>
                  </span>
                </div>
                <div class="message received">
                  <span id="random">Wow, that would really cheer me up :)</span>
                  <span class="metadata"><span class="time"></span></span>
                  </div>
                  <div class ="message received">
                    <span id="random"> <h3> <img src = "/images/joyemoji.png" class ="avatar"> Status updated: Bob is feeling a little better! </h3> </span>
                </div>
              </div>
              <form class="conversation-compose">
                     <button class="send">
                 <div class="circle">
                  <td class="icon"> <i class="fas fa-smile-beam"></i>
                    </div>
                  </button>
                <input class="input-msg" name="input" placeholder="  Help each other feel the best!" autocomplete="off" autofocus></input>
                <button class="send">
                    <div class="circle">
                      <i class="fas fa-share-square"></i>
                     
                    </div>
                  </button>
              </form>
            </div>
          </div>
        </div>
  





    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/project.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="js/keyboard.js"></script>

  </body>
</html>