<html lang="en" class="">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href= "/css/home.css" rel="stylesheet">
 <link href= "/css/keyboard.css" rel="stylesheet">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
  <div class ="w3-row-padding">
<header class="w3-container" style="background-color:#DB8A74" >
  <i onclick="goBack()" class="fas fa-arrow-circle-left" style="background-color:#DB8A74"></i>
  <script>
function goBack() {
  window.history.back();
}
</script> 
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom" style ="color:white">{{projectName}} 
   <i onclick="document.getElementById('id01').style.display='block'" 
   class="fas fa-info-circle" style="color:white"> </i> 
</h1>
    </div>
</header>
</div>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"  style="background-color:#DB8A74" > 
         <h1 class="w3-xxxlarge w3-animate-bottom" style ="color:white">{{projectName}}</h1>
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
      </header>
    <div class="w3-container" style="background-color: #fbefef"> 
      <h2 style ="color:black"> {{projectName}}'s Emotional Graph </h2></div>
      <div class="w3-container">
     <h3 class="w3-text-indigo"> <canvas id="myChart" style ="width:200px; height:200px"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["2/16 12AM", "2/16 5PM", "2/18 10AM", "2/19 12PM", "2/20 11PM", "2/21 12PM"],
        datasets: [{
            label: 'Tracker of Happiness Points',
            data: [80, 60, 85, 70, 55, 90],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</h3>
</div>
</div>
    </div>

     <div class ="w3-row-padding">
        <div class="status-bar">
          <div class="time"></div>
          </div>
        <div class="chat">
          <div class="chat-container">
            <div class="conversation">
              <div class="conversation-container">
                <div class="message sent">
                  Hey how are you feeling?
                  <span class="metadata">
                      <span class="time">12:16 AM</span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7"></path></svg></span>
                  </span>
                </div>
                <div class="message received">
                  Not so good..
                  <span class="metadata"><span class="time">12:16 AM</span></span>
                </div>
                <div class="message sent">
                 I'll come over with a movie and some snacks?
                  <span class="metadata">
                      <span class="time">12:16 AM</span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#4fc3f7"></path></svg></span>
                  </span>
                </div>
                <div class="message received">
                  <span id="random"></span>
                  <span class="metadata"><span class="time">12:16 AM</span></span>
                </div>
                 <div class="message received">
                    <h4> <img src = "/images/Happy.png" class ="avatar" style="width:100px;height:100px"> Status updated: {{projectName}} is feeling a little better! </h4>
                  <span class="metadata"><span class="time">12:16 AM</span></span>
                </div>
              </div>
              <form class="conversation-compose">
                <div class="emoji">
                </div>
                <input class="input-msg" name="input" placeholder="Help each other feel better!" autocomplete="on">
                <button class="send">
                    <div class="circle" style= "color:white; margin-left:15px">
                      <i class="fas fa-share-square"></i>
                    </div>
                  </button>
              </form>
            </div>
          </div>
        </div>
    <br> <br>
<br>

<div class = "row">
<div class="mobile-app-icon-bar" style ="left: 0px; position: fixed">
  <ul>
  <li>  <a href ="/home"> <i class="fas fa-home" aria-hidden="true"></i> 
    <p class ="no-margin"  style = "font-size:11px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:bolder;"> Home </p> </a>
  </li>
  <li>  <a href ="/goals"> <i class="fas fa-tasks" aria-hidden="true"></i> 
    <p class ="no-margin" style = "font-size:11px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:bolder;"> Health Goals </p> </a>
  </li>
  <li> <a href ="/index"><i class="fas fa-user" aria-hidden="true"></i>
    <p class ="no-margin" style =  "font-size:11px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:bolder;"> Chat List </p></a>
  </li>
 <li> <a href ="/add"><i class="fas fa-plus-square" aria-hidden="true"></i>
  <p class ="no-margin" style = " font-size:11px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:bolder;"> Add Friends </p> </a>
</li>
 <li><a href ="/settings"><i class="fa fa-cog" aria-hidden="true"></i>
  <p class ="no-margin" style = " font-size:11px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-weight:bolder;"> Settings </p> </a>
</li>
</ul>
</div>
</div>

<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
 <script src="/js/keyboard.js"></script>

</script>
</body></html>