@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro');

body {
  background: #F7EDF0;
}

i {
  color: #ffffff;
  font-size: 30px;
   align-content: center;
   text-align: center;

}

.w3-container{
  overflow:hidden;
  top:0;
  width: 100%;
}

.heading {
  position: center;
  background: none;
  background-color: #E07669;
  width : 100%;
  height: 150px;
}

.header h1 {
  padding: 30px;
   text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  font-weight:bolder;
  font-family: 'Montserrat', sans-serif;

}

select {
  border-color: #E07669;
  padding-left: 30px;
}

.header p {
     color: #6e6e6e;
}

h3 {
   padding: 30px;
   text-align: center;
   color: #E07669;
   font-size: 50px;
   font-weight:bolder;
   font-family: 'Source Sans Pro', sans-serif;

}

h5 {
   padding: 10px;
   text-align: center;
  color: #E07669;
  font-weight:bolder;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.thumbnail {
  height: 100%;
  width:100%;
}


.button2 {
  border-radius: 12px;
  padding: 5px 100px;
  background-color: #fbefef;
  height: 100px;
  font-family: sans-serif;
  text-align: center;
  color: #E07669;
  cursor: not-allowed;}

  .button1 {
  border-radius: 12px;
  padding: 5px 100px;
  background-color: #ffffff;
  height: 200px;
  font-family: sans-serif;
  text-align: center;
  color: #FFFFFF;
  cursor: not-allowed;}

  .button3 {
  padding: 5px 100px;
  height: 100px;
  border-color: #DB8A74;
  background-color:#DB8A74;
  font-family: sans-serif;
  text-align: center;
  color: #FFFFFF;
 }

  .img{
    height:100%;
    width:100%;
  }

  .w3-half-1{
    width:66.66666%}

  .avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-content: center;
}




* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  position: center;
  background: none;
  background-color: #E07669;
  width : 100%;
  height: 150px;
}

.mobile-app-icon-bar {
  list-style-type: none;
  padding-left:0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #E07669;
position: fixed;
  bottom: 0;
  align-content: center;
  width: 100%;
}


.mobile-app-icon-bar ul li {
  display: inline-block;
   height: 85px;
  width: 20%;
  text-align: center;
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E07669;
}
.mobile-app-icon-bar p {
  color : #FFFFFF;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
} 

.button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FFFFFF; 
  border: none;
  color: #3A405A;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 0px;
  border-radius: 12px;
  width: 100%;

}

.column {
  float: left;
  padding: 50px;
}


.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

.column.third{
  width:75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  width:100%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
li {
  float: left;
}

li a {
  display: block;
  color:#E07669;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

 
.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {

    border-radius: 1000px !important;
    width: 128px;
    height: 128px;
    align-self: center;
    margin-left: 32%;
}
img {
    max-width: 100%;
    height: 100%;
}
.p-image {
  top: 167px;
  right: 30px;
  color: gray;
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

#submitBtn {
    background-color: #E07669;
  border: none;
  color: white;
  height:40px;
  width:45%;
  padding-bottom: 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}